﻿@model IEnumerable<FileCabinet.Models.TypeArmyViewModel>

@{
    ViewBag.Title = "Select type army";
}

<h2>Select type army</h2>

@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-danger buttoncfg" })

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary buttoncfg" })
}

<ul style="list-style: none;" class="catalog-grid newul">
    @foreach (var item in Model)
    {
        <li class="items-t">
            <div class="goods-tile" data-title="">
                <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="193" height="193" />

                <h3 class="forh3">@item.Name</h3>
                <div class="goods-tile__price rating">
                    <p class="goods-tile__price-value rating">
                        @if (User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Select", "Select", "MilitaryEquipment", new { id = item.TypeArmyID }, new { @class = "btn btn-primary buttoncfg" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.TypeArmyID }, new { @class = "btn btn-primary buttoncfg" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.TypeArmyID }, new { @class = "btn btn-danger buttoncfg" })
                        }
                        else
                        {
                            @Html.ActionLink("Select", "Select", "MilitaryEquipment", new { id = item.TypeArmyID }, new { @class = "btn btn-primary buttoncfg control-label col-md-12" })
                        }
                    </p>
                </div>
            </div>
        </li>
    }
</ul>