﻿@model FileCabinet.Models.ReviewsViewModel

@{
    ViewBag.Title = "EditReview";
}

<h2>EditReview</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ReviewsViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "SelectMilitaryEquipment", "MilitaryEquipment", new { id = ViewBag.id, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
</div>
