﻿a.my-class {
    color: white;
    text-decoration: none
}

    a.my-class:active {
        color: white;
        text-decoration: none
    }

    a.my-class:link {
        color: white;
        text-decoration: none
    }

    a.my-class:visited {
        color: white;
        text-decoration: none
    }

.buttoncfg{
    margin-right: 4px;
}


.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #f00;
}

.field-validation-error {
    color: #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #f00;
}


.imagecc {
    border-radius: 7px
}

.forh3 {
    margin-top: 5px;
}

.text {
    margin-bottom: 6px;
}

.rating {
    margin-bottom: 6px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}



.marginForLeftButton {
    margin-left: 5px;
    margin-right: 5px;
}




/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.catalog-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog-grid__cell {
    position: relative;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

.catalog-grid__cell_type_slim {
    width: 50%;
}

.items-t {
    margin: 15px;
}

.items-t-name {
    text-decoration: none;
    color: black;
}

    .items-t-name:hover {
        text-decoration: none;
    }


.goods-tile {
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .goods-tile[data-tile=small] {
        height: 156px;
    }

.goods-tile__inner {
    min-height: 100%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}

.goods-tile__picture {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.testtext {
    text-align: right;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
