﻿@using System.Web;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>@ViewBag.userid</p>
<p>@HttpContext.Current.User.Identity.GetUserId()</p>


<p>Use this area to provide additional information.</p>
