﻿@model IEnumerable<FileCabinet.Models.MilitaryEquipmentViewModel>

@{
    ViewBag.Title = "SearchView";
}

<h2>SearchView</h2>

@using (Html.BeginForm())
{
    
    <p>
        @Html.DropDownList("CategoryMilitaryEquipmentID")
        @Html.DropDownList("CountryID")
        @Html.DropDownList("TypeArmyID")
        @Html.TextBox("SearchString")
    </p>

    <p>
        <input type="submit" value="Search" />
    </p>
}

<ul style="list-style: none;" class="catalog-grid newul">
    @foreach (var item in Model)
    {
        <li class="items-t">
            <div class="goods-tile" data-title="">
                <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="193" height="193" />

                <h3 class="forh3">@item.Name</h3>
                <p class="goods-tile__price-currency text">Country: @item.Country.Name</p>
                <p class="goods-tile__price-currency text">Category: @item.CategoryMilitaryEquipment.Name</p>
                <div class="goods-tile__price rating">
                    <p class="goods-tile__price-value rating">
                        <span class="goods-tile__price-value">Rating: @item.Rating</span>
                        @Html.ActionLink("Select", "SelectMilitaryEquipment", "MilitaryEquipment", new { id = item.MilitaryEquipmentID, CategoryID = item.CategoryMilitaryEquipmentID, TypeArmyID = item.TypeArmyID, CountryID = item.CountryID }, new { @class = "btn btn-primary buttoncfg control-label col-md-12" })
                    </p>
                </div>
            </div>
        </li>
    }
</ul>
