﻿@model FileCabinet.Models.MilitaryEquipmentViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MilitaryEquipmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MilitaryEquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilitaryEquipmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryMilitaryEquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryMilitaryEquipmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeArmyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeArmyID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back", "SelectCategoryGetMilitaryEquipment", new { CategoryID = ViewBag.Nav_CategoryID, TypeArmyID = ViewBag.Nav_SelectedTypeArmyID, CountryID = ViewBag.Nav_CountryID }, new { @class = "btn btn-primary buttoncfg" })
</div>
    }
</div>
