﻿@model FileCabinet.Models.EquipmentReviewViewModel

@{
    ViewBag.Title = "SelectMilitaryEquipment";
}

<h2>Selected military equipment</h2>

<div>
    @Html.ActionLink("Back to list", "SelectCategoryGetMilitaryEquipment", new { CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-danger buttoncfg" })
    @Html.ActionLink("Back to search", "SearchView", "Home", new { CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-danger buttoncfg" })
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryMilitaryEquipment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryMilitaryEquipment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeArmy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeArmy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        @if (Model.Rating > 0)
        {
            <dt>
                Your review
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>
        }
        <dt>
            Image
        </dt>
        <dd>
            <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="400" height="400" />
        </dd>

    </dl>
</div>

@if (Model.Score == 0 && (User.IsInRole("admin") || User.IsInRole("user")))
{
    @Html.ActionLink("AddRating", "AddRating", "Review", new { id = Model.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
}
else if (Model.Score > 0 && (User.IsInRole("admin") || User.IsInRole("user")))
{
    @Html.ActionLink("EditReview", "EditReview", "Review", new { id = Model.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
}