﻿@model IEnumerable<FileCabinet.Models.MilitaryEquipmentViewModel>

@{
    ViewBag.Title = "SelectCategoryGetMilitaryEquipment";
}

<h2>Select military equipment</h2>

@Html.ActionLink("Back", "SelectCountryGetCategory", "MilitaryEquipment", new { CountryID = ViewBag.CountryID, TypeArmyID = ViewBag.SelectedTypeArmyID }, new { @class = "btn btn-danger buttoncfg" })
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Create New", "Create", new { CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
}

<ul style="list-style: none;" class="catalog-grid newul">
    @foreach (var item in Model)
    {
        <li class="items-t">
            <div class="goods-tile" data-title="">
                <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="193" height="193" />

                <h3 class="forh3">@item.Name</h3>
                <p class="goods-tile__price-currency text">Country: @item.Country.Name</p>
                <p class="goods-tile__price-currency text">Category: @item.CategoryMilitaryEquipment.Name</p>
                <p class="goods-tile__price-currency text">Rating: @item.Rating</p>
                <div class="goods-tile__price rating">
                    <p class="goods-tile__price-value rating">
                        @if (User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Select", "SelectMilitaryEquipment", new { id = item.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-danger buttoncfg" })
                        }
                        else
                        {
                            @Html.ActionLink("Select", "SelectMilitaryEquipment", new { id = item.MilitaryEquipmentID, CategoryID = ViewBag.CategoryID, TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, new { @class = "btn btn-primary buttoncfg control-label col-md-12" })
                        }
                    </p>
                </div>
            </div>
        </li>
    }
</ul>