﻿@model FileCabinet.Models.TypeArmyViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="400" height="400" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "GetAllTypeArmy", null, new { @class = "btn btn-primary buttoncfg" })
        </div>
    }
</div>
