﻿@model IEnumerable<FileCabinet.Models.CountryViewModel>

@{
    ViewBag.Title = "GetAllTypeArmyCountries";
}

<p>
    @Html.ActionLink("Create New", "CreateCountry", null, new { @class = "btn btn-primary buttoncfg" })
</p>

<ul style="list-style: none;" class="catalog-grid newul">
    @foreach (var item in Model)
    {
        <li class="items-t">
            <div class="goods-tile" data-title="">
                <img class="imagecc" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="193" height="193" />

                <h3 class="forh3">@item.Name</h3>
                <div class="goods-tile__price rating">
                    <p class="goods-tile__price-value rating">
                        @Html.ActionLink("Edit", "EditCountry", new { id = item.CountryID }, new { @class = "btn btn-primary buttoncfg control-label col-md-6 marginForLeftButton" })
                        @Html.ActionLink("Delete", "DeleteCountry", new { id = item.CountryID }, new { @class = "btn btn-danger buttoncfg control-label col-md-5" })
                    </p>
                </div>
            </div>
        </li>
    }
</ul>