﻿
<ul class="nav navbar-nav" role="tablist">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="dropdown">
        @Html.ActionLink("Admin panel", "Index", "Home", null, new { @class = "dropdown-toggle" })
        <ul class="dropdown-menu clearfix" role="menu">
            <li>@Html.ActionLink("Type army", "GetAllTypeArmy", "Admin")</li>
            <li>@Html.ActionLink("Countries", "GetAllCountries", "Admin")</li>
            <li>@Html.ActionLink("Categories", "GetAllCategories", "Admin")</li>
            <li>@Html.ActionLink("Military equipment", "GetAllMilitaryEquipment", "Admin")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Search", "SearchView", "Home")</li>
    <li>@Html.ActionLink("File cabinet", "Index", "TypeArmy")</li>
</ul>