﻿
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Search", "SearchView", "Home")</li>
    <li>@Html.ActionLink("File cabinet", "Index", "TypeArmy")</li>
</ul>