﻿@model FileCabinet.Models.CategoryMilitaryEquipmentViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CategoryMilitaryEquipmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryMilitaryEquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryMilitaryEquipmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "SelectCountryGetCategory", "MilitaryEquipment", new { CountryID = ViewBag.CountryID, TypeArmyID = ViewBag.SelectedTypeArmyID }, new { @class = "btn btn-primary buttoncfg" })
</div>
    }
</div>
