﻿@model FileCabinet.Models.CategoryMilitaryEquipmentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, new { TypeArmyID = ViewBag.SelectedTypeArmyID, CountryID = ViewBag.CountryID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CategoryMilitaryEquipmentViewModel</h4>
        <hr />
        @Html.ValidationSummary()

        @Html.HiddenFor(model => model.CategoryMilitaryEquipmentID)
        @Html.HiddenFor(model => model.Image)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="200" height="200" />
                <p></p>
                <input type="file" id="image" name="image" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "SelectCountryGetCategory", "MilitaryEquipment", new { CountryID = ViewBag.CountryID, TypeArmyID = ViewBag.SelectedTypeArmyID }, new { @class = "btn btn-primary buttoncfg" })
</div>
